.side-menu-container {
  background-color: #0A1327;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-side-bar-container {
  background-color: #0A1327;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.aside-menu-show {
  max-width: 195px;
  transition-duration: 1s;
}
.aside-menu-hide {
  max-width: 0px;
  transition-duration: 1s;
}
.hide-menu {
  display: none;
}
.item-menu {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 45px;
  padding: 10px;  
  max-width: 175px;
}

.item-menu a {
  color: white;
  text-decoration: none;
}

.item-menu:hover {
  background-color: #DAB20B;
}

.hamburguer-menu {
  margin: 10px;
  width: 35px;
  color: white;
}

.btn-logout {
  border: none;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #0A1327;
}

.btn-menu {
  max-width: 100px;
  border: none;
  background-color: white;
}

.header-message {
  text-align: center;
}
