
body {
    font: 500 1rem Inter, sans-serif;
 }

 .formRegistration  {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 35rem;
    margin-left: 25rem;
    background-color: rgb(170, 172, 177);
 }
  
 .formRegistration > .registrationInput {
    top: 7rem;
    width: 20rem;
    margin: 5px;
    background-color: #ffff;
    font-size: 30px;
    border-radius: 5px;
 }

 .saveBtn {
    top: 0.01rem;
 }
 
 .registerBtnGroup > .saveBtn {
    width: 20rem;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(10, 19, 39, 1);
    font-size: 25px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
 }
 
 .label-register {
    margin-right: 18rem;
 }

 .successMessage {
   height: 3rem;
   color: rgb(15, 119, 5);
   transition: 0.5s;
}
 
 .profileHr {
    width: 23rem;
    border: 1px solid #00010250;
    margin-bottom: 3rem;
    margin-top: 10rem;
 }
  
 :root {
    --white: #fff;
 
    --gray-50: #F7F8FA;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --gray-500: #808080;
    --gray-800: #494D4B;
 
    --green-500: #84D361;
 
    --puple-300: #9F75FF;
    --puple-400: #9164FA;
    --puple-500: #8257E5;
    --puple-800: #6F48C9;
 }
 
 body {
    background: var(--gray-50);
 }
 
 @media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
 }
 
 @media (max-width: 1080px) {
    html {
        font-size: 87.5%;
    }
 }
 

 .container-profile {
  
 }

 .container-content {
    display: flex;
 }

 .form-input {
    max-height: 400px;
 }
 .container-int-profile{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
 }