body {
   font: 500 1rem Inter, sans-serif;
}

.form-registration  {
   display: flex;
   align-items: center;
   width: 35rem;
   margin-left: 25rem;
   background-color: rgb(170, 172, 177);
}
 
.form-registration > .registration-input{
   width: 20rem;
   margin: 5px;
   background-color: #ffff;
   font-size: 30px;
   border-radius: 5px;
}

.register-btn-group > .RegisterBtn {
   width: 20rem;
   height: 3rem;
   text-align: center;
   border-radius: 0.5rem;
   background-color: rgba(10, 19, 39, 1);
   font-size: 25px;
   margin-bottom: 20px;
   box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}

.label-register {
   margin-right: 18rem;
}

.checkDecision {
   width: 22rem;
   display: flex;
   flex-flow: row;
   align-items: center;
   margin-bottom: 1rem;
   margin-left: 1.5rem;
}

hr {
   width: 23rem;
	border: 1px solid #00010250;
   margin-bottom: 3rem;
   margin-top: 1rem;
}

.nav-register{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.877);
   margin-top: 30rem;
}

.success-message {
   height: 3rem;
   color: red;
   transition: 0.5s;
}

:root {
   --white: #fff;

   --gray-50: #F7F8FA;
   --gray-100: #E6E8EB;
   --gray-200: #AFB2B1;
   --gray-500: #808080;
   --gray-800: #494D4B;

   --green-500: #84D361;

   --puple-300: #9F75FF;
   --puple-400: #9164FA;
   --puple-500: #8257E5;
   --puple-800: #6F48C9;
}

body {
   background: var(--gray-50);
}

@media (max-width: 1080px) {
   html {
       font-size: 93.75%;
   }
}

@media (max-width: 1080px) {
   html {
       font-size: 87.5%;
   }
}
