.headerContainer {
    background: var(--white);
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--gray-100);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
 }

 .header-message {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
    color: #0505059f;
}

.date-time  {
    margin-left: auto;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.562);
}

 :root {
    --white: #fff;
 
    --gray-50: #F7F8FA;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --gray-500: #808080;
    --gray-800: #494D4B;
 
    --green-500: #84D361;
 
    --puple-300: #9F75FF;
    --puple-400: #9164FA;
    --puple-500: #8257E5;
    --puple-800: #6F48C9;
 }